<!DOCTYPE html>
<!--integrando la tecnologia de thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/cabecero::cabecero-seccion(titulo='Inicio')}">
    <title>Sistema de contactos</title>
</head>
<body>
    <div th:replace="~{fragments/navegacion::navegacion-seccion}"></div>
    <!-- Div para desplegar la tabla -->
    <div class="container">
        <div class="container text-center" style="margin: 30px;">
            <h3>Sistema de contactos</h3>
        </div>
        <div class="container">
            <table class="table table-hover table-striped align-middle table-bordered">
                <thead class="table-dark text-center">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contacto: ${contactos}">
                    <th th:text="${contacto.getIdContacto()}" scope="row"></th>
                    <td th:text="${contacto.getNombre() + ' ' + contacto.getApellido()}"></td>
                    <td th:text="${contacto.getEmail()}"></td>
                    <td th:text="${contacto.getTelefono()}"></td>
                    <td class="text-center">
                        <div class="container">
                            <a th:href="@{/editar/{id}(id=${contacto.getIdContacto()})}" class="btn btn-warning btn-sm me-3">Editar</a>
                            <a th:href="@{/eliminar/{id}(id=${contacto.getIdContacto()})}" class="btn btn-danger btn-sm me-3">Eliminar</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="~{fragments/pie-pagina::pie-pagina-seccion}"></div>

</body>
</html>